.columns > div {
    display: flex;
    flex-direction: column;
}

.columns img {
    width: 100%;
}

.columns > div > div {
    order: 1;
}

.columns > div > .columns-img-col {
    order: 0;
}

.columns > div > .columns-img-col img {
    display: block;
}

@media (width >= 900px) {
    .columns > div {
        align-items: center;
        flex-direction: unset;
        gap: 24px;
    }

    .columns > div > div {
        flex: 1;
        order: unset;
    }
}

.columns.material-check {
    font-family: "Figtree", sans-serif;

    div {
        align-items: unset;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
            position: relative;
            padding-left: 45px;
            color: #000000;
            line-height: 28px;
            margin-bottom: 15px;
        }

        li::before {
            content: "";
            display: inline-block;
            width: 30px;
            height: 23px;
            position: absolute;
            top: 5px;
            left: 0;
            background: transparent url(../../icons/material-check.svg) no-repeat center center;
        }
    }

    h4 {
        text-transform: uppercase;
        font-weight: 900;
        font-size: 30px;
        line-height: 30px;
        letter-spacing: 0;
        color: #000000;
        font-family: "Figtree", sans-serif;
    }
}


.columns.machine {
    & > div {
        display: flex;
        align-items: self-start;

        & > div {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
    }

    & h1,
    & h2,
    & h3,
    & h4,
    & h5,
    & h6 {
        background-color: #ff0;
        font-weight: bold;
        text-transform: uppercase;
        padding: 12px 16px;
        margin: 0 0 16px;
        text-align: initial;
        width: initial;
        box-sizing: border-box;
    }

    & img {
        width: 100%;
        max-width: 100%;
        height: auto;
        display: block;
        margin-bottom: 16px;
    }

    & p {
        margin: 0;
        line-height: 1.5;
        text-align: start;
        padding-bottom: 1em;
    }
}

.columns.one-two > div > div:nth-of-type(1) {
    max-width: calc(1 / 3 * 100%);
}

.columns.one-two > div > div:nth-of-type(2) {
    max-width: calc(3 / 4 * 100%);
}

.columns.one-three > div > div:nth-of-type(1) {
    max-width: calc(1 / 4 * 100%);
}

.columns.one-three > div > div:nth-of-type(2) {
    max-width: calc(2 / 3 * 100%);
}

@media (width >= 900px) {
    .columns.machine > div,
    .columns-machine > div {
        gap: 32px;
    }

    .columns.machine > div > div,
    .columns-machine > div > div {
        flex: 1;
        align-items: flex-start;
    }

    .columns.one-two > div {
        align-items: flex-start;
    }
}

.columns.features {
    > div {
        align-items: stretch;
        > div {
            display: flex;
            flex-direction: column;
            > *:last-child {
                margin-top: auto;
            }
        }
    }

    h6 {
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 5px;
        color: #000000;
        text-transform: uppercase;
        opacity: 0.25;
        margin-bottom: 15px;
        font-family: "Figtree", sans-serif;
    }

    h4 {
        font-weight: 900;
        font-size: 30px;
        line-height: 30px;
        letter-spacing: 0;
        color: #000000;
        font-family: "Figtree", sans-serif;

        a {
            text-decoration: none;
            color: #000;
        }
    }

    p {
        padding-left: 1.5rem !important;
        padding-bottom: 1rem !important;
        padding-top: 1.5rem !important;
        font-family: "Figtree", sans-serif;
    }

    a {
        display: inline-block;
        width: 44px;
        height: 10px;
        flex-shrink: 0;
        transition: transform 0.2s ease;
        align-items: center;
        gap: 12px;
        font-weight: 600;
        font-size: 0;
        text-transform: uppercase;
        color: var(--text-color);
        text-decoration: none;
        letter-spacing: 0.08em;
        background: transparent;
        margin: 0;
        padding: 0;
    }

    a:hover {
        font-size: var(--body-font-size-m);
    }

    a:hover::after {
        padding-left: 1em;
    }

    a::after {
        content: "";
        display: inline-block;
        width: 44px;
        height: 10px;
        background: url(../../icons/icon-feather-arrow-right.svg) no-repeat center / contain;
    }
}

.columns.advantages {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;

  div {
    align-items: start;
    div {
      display: flex;
      flex-direction: column;
      align-items: start;
    }
  }

  .columns-img-col {
    width: 98px;
    height: 98px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 16px;
    border: 1px solid #000000;
    flex-shrink: 0;
    flex: none;
  }

  h4 {
    margin-bottom: 25px;
    padding: 5px 15px 5px 15px !important;
    display: inline-block;
    font-weight: 900;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0px;
    color: #000000;
    text-transform: uppercase;
    background-color: #ffff00;
  }
}

.columns.system {
    margin-top: 20px;
}

.columns.system > div {
    display: block;
    gap: 0px;

    h3 {
        padding: 5px 15px 5px 15px !important;
        display: inline-block;
        font-weight: 900;
        font-size: 20px;
        line-height: 30px;
        letter-spacing: 0px;
        color: #000000;
        text-transform: uppercase;
        background-color: #ffff00;
        margin-bottom: 20px;
    }

    h4 {
        font-weight: 500 !important;
        font-size: 26px;
        line-height: 30px;
        letter-spacing: 0px;
        color: #000000;
        text-transform: uppercase;
    }
}

.columns.system > div > div:nth-child(2) {
    border-left: 1px solid #000000;
    padding-left: 20px;

    h4 {
        margin-top: 0px;
    }
}

.columns.system {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}
