.text-cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(257px, 1fr));
  grid-gap: 24px;
}

.text-cards > ul > li {
  border: 1px solid #dadada;
  background-color: var(--background-color);
}

.text-cards .text-card-body {
  margin: 16px;
}

.text-cards.features {
    > ul {
        grid-template-columns: repeat(3, 1fr);
        > li {
            align-items: stretch;
            display: flex;
            border: none;
            > div {
                display: flex;
                flex-direction: column;
                > *:last-child {
                    margin-top: auto;
                }
            }
        }
    }

    h6 {
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 5px;
        color: #000000;
        text-transform: uppercase;
        opacity: 0.25;
        margin-bottom: 15px;

    }

    h4 {
        font-weight: 900;
        font-size: 30px;
        line-height: 30px;
        letter-spacing: 0;
        color: #000000;
        text-transform: uppercase;

        a {
            text-decoration: none;
            color: #000;
        }
    }

    p {
        padding-left: 1.5rem !important;
        padding-bottom: 1rem !important;
        padding-top: 1.5rem !important;
        font-family: "Figtree", sans-serif;
    }

    a {
        display: inline-block;
        width: 44px;
        height: 10px;
        flex-shrink: 0;
        transition: transform 0.2s ease;
        align-items: center;
        gap: 12px;
        font-weight: 600;
        font-size: 0;
        text-transform: uppercase;
        color: var(--text-color);
        text-decoration: none;
        letter-spacing: 0.08em;
        background: transparent;
        margin: 0;
        padding: 0;
    }

    a:hover {
        font-size: var(--body-font-size-m);
    }

    a:hover::after {
        padding-left: 1em;
    }

    a::after {
        content: "";
        display: inline-block;
        width: 44px;
        height: 10px;
        background: url(../../icons/icon-feather-arrow-right.svg) no-repeat center / contain;
    }
}
