div[class="hero-wrapper"] {
  max-width: 100% !important;
	background-color: yellow;
  /* margin-top: -70px !important; */
  z-index: -1;
}

.hero-wrapper {
	position: relative;
	width: 100%;
  max-width: 100%;
	height: 70vh;
	min-height: 400px;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	padding: 0 !important;
}

.hero-main-image {
	width: 96%;
	height: 97%;
	object-fit: cover;
	object-position: center;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
}

.hero-overlay {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: white;
	z-index: 2;
	width: 96%;
	height: 97%;
	text-align: center;
	background-color: rgb(0 0 0 /0.5);
}

.hero-overlay h1 {
	font-weight: 900;
	font-size: 50px;
	color: #ffff00;
	text-transform: uppercase;
  max-width: 70%;
  line-height: 1;
  margin: 0;
}

.hero-overlay p {
	font-weight: lighter;
	font-size: 40px;
	letter-spacing: 1.5px;
	color: #fff;
	text-transform: uppercase;
  max-width: 70%;
  line-height: 1.2;
}

.hero-small-image {
	position: absolute;
    bottom: 13px;
    right: 4px;
	width: 100px;
	height: auto;
	z-index: 3;
}

@media (width <= 768px) {
	.hero-overlay {
		grid-template-columns: 1fr;
		top: 10%;
		left: 5%;
		right: 5%;
		gap: 10px;
		text-align: center;
	}

	.hero-overlay h1 {
		font-size: 2rem;
	}

	.hero-overlay p {
		font-size: 0.9rem;
		max-width: 100%;
	}

	.hero-small-image {
		width: 70px;
	}
}

@media (width >= 1200px) {
	.hero-overlay h1 {
		font-size: 5rem;
	}

	.hero-overlay p {
		font-size: 3rem;
	}

	.hero-small-image {
		width: 52px;
	}
}
